<h1>Categories</h1>

<table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Posts count</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Destroy</th>
	  </tr>
	</thead>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.name %></td>
    <td><%=h category.posts_count %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New category', new_admin_category_path %></p>