<% @posts.each do |post| -%>
	<article>
		<header>
			<hgroup>
				<h1><%= link_to(post.title, post) %></h1>
				<h2><%= time_element(post.created_at) %> <%= "&mdash;" + link_to("Edit Post", edit_post_url(post)) if current_user && current_user == post.author %></h2>
			</hgroup>
		</header>
		
		<%= markdown(post.summary).blank? ? markdown(post.text).split("</p>")[0] + "</p>" : markdown(post.summary) %>
		<p><%=link_to("Read More&hellip;", post) %></p>
	</article>
<% end -%>
