<!DOCTYPE html>
<html>
	<head>
		<title>tylercunnion.com<%=h " | " + @page_title unless @page_title.blank? %></title>
		<%= stylesheet_bundle 'common' %>
		<%= javascript_dev ['jquery-1.4.2', 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'] %>
		<%= javascript_bundle 'common' %>
	</head>
	<body>
		<div id="wrapper">
			<header><%= image_tag 'name.png' %></header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</nav>
				<%= yield %>
		</div>
		<footer id="page-footer">
			<p>Footer stuff goes here</p>
		</footer>
	</body>
</html>
